.CategoryList {
  width: 94%;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  gap: 2.75rem;
}

.CategoryList::-webkit-scrollbar {
  display: none;
}

@media (max-width: 430) {
  .CategoryList {
    width: 100%;
    gap: 2rem;
  }
}