.CategoryIcon {
  padding: 1rem 0;
  text-align: center;

  img {
    width: 24px;
    height: 24px;
  }
  
  h6 {
    margin: 0;
    font-size: .75rem;
    padding: 0 0.5rem;
    text-transform: capitalize;
    white-space: nowrap;
  }
}
