.Categories {
  position: relative;
  font-size: 1.2rem;
  padding: 0 5rem;
  border-bottom: 1px solid #71717133;
  box-shadow: 0px 12px 30px -25px rgba(0 0 0 / 30%);

  .gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    
    &:nth-child(1) {
      top: 0;
      left: 5rem;
    }

    &:nth-child(3) {
      top: 0;
      right:11.5rem;
      background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    }
    
    button {
      display: block;
      background-color: white;
      color: black;
      border: 1px solid #ababab;
      border-radius: 30px;
      padding: 0.5rem;
      z-index: 2;
    }
  }
  

  .Filters {
    display: block;
    position: absolute;
    top: 1rem;
    right: 5rem;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #717171;
    z-index: 2;
    
    h6 {
      margin: 0;
    }
  }
}

.active {
  border-bottom: 2px solid blue;
}

.show {
  // display: flex !important;
  button {

    animation: fadein 1s ease-in 0s 1 forwards;
  }
}

.hide {
  // display: none !important;
  animation: fadeout 0.5s ease-in 0s 1 forwards;

}

@keyframes fadein {
  0% {opacity: 0%;}
  50% {opacity: 50%;}
  100% {opacity: 100%; display: flex !important;}
}

@keyframes fadeout {
  0% {opacity: 100%;}
  50% {opacity: 50%;}
  100% {opacity: 0%; display: none !important;}
}